!!!
%html
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")/
    %title UniversityApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      .container 
        %nav.navbar.navbar-expand-lg.navbar-light.fixed-top(style = "background-color: white  ;")
          .container
            %a.navbar-brand#HomeTopPhone(href=home_path) Home
            %a.navbar-brand(href=blogs_path) blogs
            %a.navbar-brand(href=admin_lte_users_path) Admin Page  
            %button.navbar-toggler(aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" data-target="#navbarText" data-toggle="collapse" type="button")
              %span.navbar-toggler-icon
            %div.p-2.flex-fill.bd-highlight.d-flex.justify-content-end
            - if user_signed_in?
              %span.navbar-text(style = "padding-right: 10px;")
                = link_to 'Account', edit_user_registration_path
              %span.navbar-text(style = "padding-right: 10px;")
                = link_to "Log Out", destroy_user_session_path, method: :delete
            - else                
              %span.navbar-text(style = "padding-right: 10px;")
                = link_to "Log in", new_user_session_path               
              %span.navbar-text
                = link_to "Sign Up", new_user_registration_path
       
      .container
        %nav.navbar.navbar-expand-lg.navbar-light.d-flex.bd-highlight(style = "background-color: white; padding: 6px;")
          %a.navbar-brand.p-2.flex-fill.bd-highlight#checkid(href="#") 
      .container
        %nav.navbar.navbar-expand-lg.navbar-light.d-flex.bd-highlight(style = "background-color: white; padding: 6px;")
          %a.navbar-brand.p-2.flex-fill.bd-highlight#checkid(href="#") 

    .container
      = yield

    %footer(style = "margin-top: 50px;")   
      .container
        .row
          .col-lg-6.col-md-6.col-sm-6
            .widget_copyright
              %p
                copyright © 2018
          .col-lg-6.col-md-6.col-sm-6
            .payment
